.main {
  width: 100%;
  /* overflow-x: hidden; */
}
.main::after {
  background: var(--primary-glow);
  width: 600px;
  height: 280px;
  z-index: -1;
  overflow-x: hidden;
}

/* .main::before,
.main::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  overflow-x: hidden !important;
} */
